body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

input[type='color']{
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30%;
}

.container {
  display: flex;          
  align-items: stretch;   
  flex-shrink: 0;         
  position: relative;     
}

.nav-holder{
    margin-top: 10vh;
    flex-direction: row;
    justify-content: center;
}

.title-display{
    flex-direction: column;
    justify-content: center;
}

.page-button {
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s;
}

.page-button:active {
    transform: scale(0.9);
    background-color: aliceblue;
}

#title{
    font-family: 'OldNewspaperTypes', sans-serif;
    max-height: 10vh;
}

#check{
    font-size: xx-large;
}

#code-canvas {
    align-self: center;
    height: 50vh;
    aspect-ratio: 1;
    /* background-color: red; */
}