body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: antiquewhite;
}

#code-canvas {
    height: 600px;
    aspect-ratio: 1;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
}