body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: antiquewhite;
}

input[type='color']{
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30%;
}

.non-footer{
    margin-bottom: 50px;
}

.non-footer div{
    display: inline-block;
}

.url{
    margin-bottom: 10px;
}

.url input{
    width: 100%
}

#code-canvas {
    height: 600px;
    aspect-ratio: 1;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    background-color: black;
}