body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: antiquewhite;
}

.input-holder{
    display: flex;
    gap: 40px;
}

label.input.error-correction {
    padding-left: 10px;
}

#code-canvas{
    z-index: 1;
}
#overlay-canvas{
    z-index: 2;
    opacity: 30%;
}

canvas {
    height: 600px;
    aspect-ratio: 1;
    top:0;
    left:0;
    position: absolute;
}

.canvas-holder{
    height: 600px;
    position: relative;
    aspect-ratio: 1;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
}