body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: antiquewhite;
}

input[type='color']{
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30%;
}

.container {
  display: flex;          
  align-items: stretch;   
  flex-shrink: 0;         
  position: relative;     
  /* border: 2px dashed red; */
}

.non-footer{
    flex-direction: row;
}

.url-display{
    flex-direction: column;
    width: 90vh;
}

.custom-settings{
    flex-direction: column;
    flex: 5;
}

.inner-settings{
    margin: 10px;
    flex-direction: column;
    /* border: solid 1px yellow; */
}

.inner-settings > *{
    flex: 1;
    margin: 0;
    /* border: solid 1px red; */
    align-content: center;
}

.outer-settings{
    flex: 5;
    /* border: solid 1px aqua; */
}

.url{
    margin-bottom: 10px;
}

.url input{
    flex: 1;
}

#code-canvas {
    max-height: 90vh;
    aspect-ratio: 1;
}

footer {
    flex: 1;
    font-size: 30px;
    background-color: black;
}